.inter-font {
  font-family: "Inter", sans-serif;
}
/* madurai font */
.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card,
.box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
